.chat__content {

}

.chat__container {
    display: flex;
}

.chat__left-part {
    background-color: #808080;
    width: 250px;
    text-align: center;
}

/* 左側のサイドバー部分 */
.chat__left-part--title {
    color: #ffffff;
}

.chat__left-part--pending_trades{
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #BBBBBB;
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 180px;
}

.chat__left-part--pending_trades:hover {
    background-color:#FFFFE0;
    color: #000000;
}

/* 右側のメイン部分 */
.chat__right-part {
    flex: 1;
    width: 100%;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
    align-items: center;
    padding: 0 10px;
    margin: 0;
}

/* 取引相手について  */
.chat__header--counterparty {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat__header--counterparty-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat__header--placeholder {
    width: 60px;
    height: 60px;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

}

.chat__header--counterparty-title {
    font-size: 30px;
    font-weight: bold;
}

.chat__complete-button {
    margin: 20px;
    padding: 10px 40px;
    color: #ffffff;
    background-color: #F08080;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* 取引商品について */
.chat__bought-item {
    display: flex;
    justify-content: left;
    border-bottom: 2px solid #000000;
    align-items: center;
    padding: 10px;
    margin: 0px;
}



.chat__bought-item--wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat__bought-item--image {
    width: 200px;
    height: 200px;
}

.chat__bought-item--detail {
    display: flex;
    flex-direction: column;
}

.chat__bought-item--name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.chat__bought-item--price {
    font-size: 24px;
    margin-top: 3px;
}

.chat__messages {
   
}

.chat__messages-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;

}

.chat__messages-content--sent {
    /*text-align: left; */
    margin-bottom: 10px;
    align-self: flex-end;


}

.chat__message-content--received {
    /* display: flex;
    text-align: right; */
    align-self: flex-start;
    margin-bottom: 10px;
}

.chat__messages--user {
    display: flex;
    align-items: center;
    gap: 20px;

}

.chat__messages--profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat__messages--placeholder {
    width: 40px;
    height: 40px;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

}

.chat__messages--user-name {
    font-weight: bold; 
}

.chat__messages--text {
    background-color: #bfbfbf;
    border: none;
    width: 400px;
    height: 60px;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 3px;
    
}

.chat__messages--text-modify {

}

.chat__messages--text-edit {
    color: black;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
}

.chat__messages--create{
    display: flex;
    margin-left: 20px;
    gap: 20px;
    align-items: center;
}

.chat__messages--create-form-text {
    width: 700px;
    height: 25px;
    padding: 5px;
    justify-content: center;
}

.chat__messages--create-form-upload {
    border: 1px solid #FF4F50;
    color: #FF4F50;
    margin: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    /* ← これが文字の中央揃え */
    justify-content: center;
    line-height: 1;
    /* ← デフォルトのズレを解消 */
    height: 25px;
}

#imageUpload {
    display: none;
}

.chat__button-send {
    font-size: 40px;
    border: none;
    background-color: #ffffff;
    height: 25px;
    cursor: pointer;
}
