.chat__content {

}

.chat__container {
    display: flex;
}

.chat__left-part {
    background-color: #808080;
    width: 250px;
    text-align: center;
}

/* 左側のサイドバー部分 */
.chat__left-part--title {
    color: #ffffff;
}

.chat__left-part--pending_trades{
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #BBBBBB;
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 180px;
}

.chat__left-part--pending_trades:hover {
    background-color:#FFFFE0;
    color: #000000;
}

/* 右側のメイン部分 */
.chat__right-part {
    flex: 1;
    width: 100%;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000000;
    align-items: center;
    padding: 0 10px;
    margin: 0;
}

/* 取引相手について  */
.chat__header--counterparty {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat__header--counterparty-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat__header--placeholder {
    width: 60px;
    height: 60px;
    background-color: #bfbfbf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;

}

.chat__header--counterparty-title {
    font-size: 30px;
    font-weight: bold;
}

.chat__complete-button {
    margin: 20px;
    padding: 10px 40px;
    color: #ffffff;
    background-color: #F08080;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* 取引商品について */
.chat__bought-item {
    display: flex;
    justify-content: left;
    border-bottom: 2px solid #000000;
    align-items: center;
    padding: 10px;
    margin: 0px;
}



.chat__bought-item--wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat__bought-item--image {
    width: 200px;
    height: 200px;
}

.chat__bought-item--detail {
    display: flex;
    flex-direction: column;
}

.chat__bought-item--name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.chat__bought-item--price {
    font-size: 24px;
    margin-top: 3px;
}

.chat__messages