html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.flex-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* ヘッダー */
.header {
    background-color: black;
    color: white;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #E0DFDE;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__heading a {
    margin: 0 auto;
    width: 80px;
    text-decoration: none;
    color: white;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__form {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}

.header__keyword {
    height: 25px;
    font-size: 15px;
    width:300px;
}

.header__button {
    border: none;
    color: white;
    background-color: black;
    font-size: 16px;
    margin-bottom: 5px;
}

.header__nav--item a,
.header__nav--item a:visited,
.header__nav--item a:focus,
.header__nav--item a:hover,
.header__nav--item a:active
 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header__nav--item:last-child a {
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: white;
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 850px) {}