html,
body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #E0DFDE;
    text-align: center;
    font-family: serif;
}

.header__logo {
    margin: 0 auto;
    width: 80px;
    color: white;
    background-color: black;
    text-decoration: none;
    /* grid-column: 3; */
}

/* 参考：contactform/common.css */
/*  */