html,
body {
    height: 100%;
}

/* .app {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* ヘッダー */
.header {
    background-color: black;
    color: white;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #E0DFDE;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__heading a {
    margin: 0 auto;
    width: 80px;
    text-decoration: none;
    color: white;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__form {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}

/* .header__button {
    background-color: ;

} */

.header__nav--item a,a:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* div {
    unicode-bidi: normal !important;
} */