html,
body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    background-color: black;
    color: white;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #E0DFDE;

}

.header__logo {
    margin: 0 auto;
    width: 80px;
    color: white;
    background-color: black;
    text-decoration: none;
    /* grid-column: 3; */
}

.header__form--logout {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    font-size: 1rem;
}

/* 参考：contactform/common.css */
/*  */