.edit-profile__content {
    width: 500px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.edit-profile__title {
    text-align: center;
    margin-bottom: 24px;
}

.edit-profile-form {
    /* width: 430px; */
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile__img-group{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.edit-profile__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-bottom: 16px;
}

.edit-profile__input-form input[type="text"],
.edit-profile__button button {
    width: 430px;
    box-sizing: border-box;
}

.edit-profile__image-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: red;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid red;
}

.edit-profile__input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 430px;
    align-items: flex-start;
}

.edit-profile__label {
    margin-bottom: 4px;
    font-weight: bold;
    display: block;
    text-align: left;
}

.edit-profile__input {
    height: 30px;
    font-size: 17px;
    width: 100%;
    box-sizing: border-box;
}

.edit-profile__error-message {
    color: red;
}

.edit-profile__button {
    text-align: center;
    margin-bottom: 50px;

}

button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.edit-profile__placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    /* はみ出し防止 */
    background-color: #ccc;
    /* 画像がないときのグレー背景 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile__img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.no-image {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    /* グレー背景 */
    border-radius: 50%;
}

@media screen and (min-width: 768px) and (max-width: 850px) {}