.index__menu {
    list-style: none;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 25px;

}

.index__menu--item {
    list-style: none;
    margin-left: 100px;
    text-decoration: none;
    color: black;
    text-align: center;

}

.mylist__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    margin: auto;
    gap: 16px;
    margin-top: 50px;
}

.mylist__item {
    margin: 3px;
    width: 270px;
    /* box-shadow: 4px 4px rgb(224, 224, 224); */
    position: relative;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.img-content {

    width: 100%;
    display: flex;
    height: 180px;
    background-color: white;
    object-fit: cover;

}

.detail-content {
    padding: 10px;
    background-color: white;
    text-align: left;
}

.detail-content__name {
    font-size: 15px;
    
}

.sold-label {
    background-color: rgb(193, 192, 192);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}