.index__menu {
    list-style: none;
    height: 50px;
    /* margin: 30px 50px; */
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid black;

}

.index__menu--item {
    list-style: none;
    margin-left: 100px;
    text-decoration: none;
    color: black;
}

.index__menu--item.active {
    color: red;
}

.mylist__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    margin: auto;
    gap: 16px;
}

.mylist__item {
    margin: 3px;
    width: 270px;
    /* box-shadow: 4px 4px rgb(224, 224, 224); */
    position: relative;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.img-content {

    width: 250px;
    display: flex;
    height: 250px;
    background-color: white;
    object-fit: cover;
    margin: 30px 20px;
    margin-bottom: 0;

}

.detail-content {
    padding: 10px ;
    text-align: left;
    background-color: white;
}

.detail-content__name {
    font-size: 16px;
    margin: 0;
}

.sold-label {
    background-color: rgb(193, 192, 192);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 850px) {}