.index__menu {
    list-style: none;
    height: 50px;
    margin: 30px 50px;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid black;
    
}

.index__menu--item {
    list-style: none;
    margin-left: 100px;
    text-decoration: none;
    color: black;
}

.mylist__items {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    max-width: 1200px;
    margin:auto;
    gap: 16px;
}

.mylist__item {
    margin: 3px;
    width: 270px;
    /* box-shadow: 4px 4px rgb(224, 224, 224); */
    position: relative;
}

.item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.img-content {

    width: 100%;
    display: flex;
    height: 180px;
    background-color: white;
    object-fit: cover;
    
}

.detail-content {
    padding: 10px;
    text-align: left;
    background-color: white;
}

.detail-content__name {
font-size: 16px;
}

