@media (max-width:768px){
    .item__all-contents {
        flex-direction: column;
    }

    .item__left-part,
    .item__right-part {
        width: 100%;
    }

}

.item__all-contents {
    width: 100%;
    max-width: 1380px;
    box-sizing: border-box;
    margin: 30px auto 0;
    padding: 20px;
    gap: 60px;
    align-items: flex-start;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
}

.item__left-part {
    width: 600px;
    flex-shrink: 0;
}


.item__img {
    width: 100%;
    max-width: 100%;
    height: 550px;
    display: block;
    object-fit: cover;
}

.item__right-part {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.brand-name {
    font-size: medium;
}

.price {
    font-size: 30px;
}

.item__actions {
    display: flex;
    gap: 30px;
    margin: 20px 0;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    justify-content: flex-start;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* filter: grayscale(100%); */
}

/* .like-image.liked {
    filter: grayscale(0%) brightness(1.1); */

.action__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #555;
    margin: 0 10px;
}

.action__item .count {
    font-size: 14px;
    color: black;
    margin-top: 4px;
}

.item__actions span:hover {
    color: #e91e63;
}

.like-button{
    border: none;
    background-color: white;
}

.item__button {
    color:white;
    background-color: red;
    border: none;
    width: 50%;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.item__category {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 10px;
    align-items: center;
}

.item__label--item {
    font-weight: bold;
    display: flex;
}

.item__info--item {
    border:1px solid rgb(212, 210, 210);
    background-color: rgb(212, 210, 210);
    border-radius: 12px;
    margin: 0 10px;
    padding: 5px 10px;

    
}

.item__comment-part--content {
    display:flex;
}

.profile-img,
.profile-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-placeholder {
    background-color: #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {}