html,
body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 80px;
    background-color: black;
    color: white;
}

.header__logo {
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 24px;
    /* grid-column: 3; */
}

.header__inner {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 850px) {}