html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    background-color: #fff;
    flex: 1;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background-color: black;
    color: white;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.header__inner {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    width: 100%;
    padding: 0;
    justify-content: flex-start;
    margin: 0;
    box-sizing: border-box;
}

.header__inner img {
    height: 40px;
    display: block;
}

.header__logo {
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header__inner {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 850px) {}