.mypage__content {
    margin: 0 auto;
    width: 800px;
}

.mypage__profile-group {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    gap: 100px;
    align-items: center;
}

.mypage__profile_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_image,
.mypage-profile__placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mypage-profile__placeholder {
    border-radius: 50%;
    overflow: hidden;
    /* はみ出し防止 */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mypage__user-name {
    font-weight: bold;
    font-size: 20px;
}

.mypage__rating {
    color: gray;
    font-size: 20px;
}

.mypage__rating.is-active {
    color: gold;
}

.mypage__edit-button {
    color: red;
    border: 1px solid red;
    border-radius: 6px;
    padding: 5px 15px;
    text-decoration: none;
}



.mypage__tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.mypage__tabs li {
    margin-right: 10px;
}

.mypage__tabs li a {
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.mypage__tabs {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border-bottom: 2px solid #ddd;
    gap: 30px;
}

.mypage__tabs li {
    padding: 10px 20px;
    cursor: pointer;
}

.mypage__tabs a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    display: block;
    transition: color 0.3s;
}

.mypage__tabs a:hover {
    color: #333;
}

.mypage__tabs .active a {
    color: red;
    padding-bottom: 8px;
}

.mypage__tab-unread {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 5px;
}

.mypage__sell-group,
.mypage__bought-group,
.mypage__pending-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.mypage__card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    position: relative;
}

.mypage__image img {
    width: 150px;
    border-radius: 6px;
    height: 150px;
    object-fit: cover;
    position: relative;
}

.mypage__item_name {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
}

.mypage__unread-badge {
    position: absolute;
    /* 親の .mypage__image に対して絶対配置 */
    top: 10px;
    /* 左上の微調整 */
    left: 16px;
    background-color: red;
    /* 赤丸 */
    color: white;
    /* 文字色 */
    font-size: 12px;
    /* バッジ内の文字サイズ */
    font-weight: bold;
    width: 20px;
    /* 丸のサイズ */
    height: 20px;
    border-radius: 50%;
    /* 完全な円形にする */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* 画像より前面に表示 */
}


@media screen and (min-width: 768px) and (max-width: 850px) {}