.profile__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    text-align: center;
    margin: 24px;
}

.profile-form {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    box-sizing: border-box;
}

.profile__picture-group {
    
    display: flex;
    align-items: center;
    width: 430px;
    gap: 50px;
    margin-bottom: 50px;
}

.profile__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.profile__input-form input[type="text"],
.profile__input-form__button button {
    width: 430px;
    box-sizing: border-box;
    margin: 0 auto;
}

.profile__image-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: red;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
    margin-right: 10px;
}

.profile__image-wrapper {
    width: 120px;
    /* 丸いスペースのサイズ */
    height: 120px;
    border-radius: 50%;
    /* 円形 */
    overflow: hidden;
    /* はみ出し防止 */
    background-color: #ccc;
    /* 画像がないときのグレー背景 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像の縦横比を保ちつつ枠内に収める */
    border-radius: 50%;
    /* 画像も丸く */
}

.no-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    /* グレー背景 */
    border-radius: 50%;
    box-sizing: border-box;
        /* パディングやボーダーを含めてサイズを計算 */
    text-align: center;
}

.profile__input-form {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    margin: 0 auto;
    width: 430px; 
    align-items: flex-start;
    box-sizing: border-box;
}

.profile__field {
    display: block;
    margin-bottom: 16px;
}

.profile__label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.profile__input {
    width: 100%;
    height: 30px;
    font-size: 17px;
    box-sizing: border-box;
}
    

.profile-form__error-message {
    color: red;
    margin-bottom: 20px;
    margin-top: 0;

}

.profile__input-form__button {
    /* display: flex;
    justify-content: center; */
    margin: 50px auto;
    width: 430px;
}

.profile__input-form__button button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
    /* ホバー時、少しだけ反応 */
}

.login__link {
    text-align: center;
    padding-top: 20px;
}



@media screen and (min-width: 768px) and (max-width: 850px) {}