.profile__content {
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
    }

.profile__title {
    text-align:center;
    margin-bottom: 24px;
}

.profile__image-label{
    display: inline-block;
        padding: 10px 20px;
        background-color: #d92b2b;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

.profile__input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.profile__label {
    margin-bottom: 4px;
    font-weight: bold;
}

.profile__error-message {
    color:red;
}

.profile__input-form__button {
    text-align: center;

}

button {
    background-color: red;
        /* 背景：親の赤に「なじむ」 */
        color: white;
        /* 文字色：見やすい白 */
        font-size: 16px;
        padding: 10px 24px;
        border: none;
        /* 枠なし */
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
}

button:hover {
    opacity: 0.8;
    /* ホバー時、少しだけ反応 */
}

.login__link {
    text-align: center;
    padding-top: 20px;
}