.purchase{
    display: flex;
}

.purchase__left-part {
    display: flex;
}

.purchase__item {
    display: flex;
    margin:50px 20px;
}

.item-img {
    width: 40%;
    height: 200px;
    
}






.purchase__summary {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.purchase__summary th,
.purchase__summary td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.purchase__summary th {
    width: 30%;
    background-color: #f5f5f5;
}

.purchase__button {
    border: none;
    background-color: red;
    color: white;
}