.purchase{
    display: flex;
    max-width: 1340px;
    margin: 0 auto;
    padding:30px;
    gap:40px;

}

.purchase__left-part {
    flex: 2;
}

.purchase__item {
    display: flex;
    margin:20px;
    gap: 20px;
    /* border-bottom: solid 1px black; */

}

.item-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

.purchase__info{
    display: flex;
    flex-direction: column;
}

.item-name {
    margin: 0 40px;
    font-size: 30px;
    font-weight: bold;
}

.item-price {
    font-size: 20px;
    margin: 0 30px;
}

.payment {
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    margin-bottom: 30px;
    font-weight: bold;
}

.payment__select {
    margin: 20px 60px;
    padding: 8px 60px;


}

/* 
.select-box select {
    padding: 6px;
    font-size: 14px;
    width: 200px;
} */

.destionation {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.destination__comfirm {
    font-weight: bold;
}

.change-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    margin-left: 75%;

}

.user-address {
    margin: 0 60px;
    padding: 5px;
}

.purcahse__right-part {
    flex: 1;
}

/* .purchase__summary {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
} */

/* .purchase__summary {
  
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  }; */

  .purchase__summary {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      font-size: 16px;
      /* justify-content: space-between; */
      table-layout: fixed;
      
      

  }

  .purchase__summary th,
  .purchase__summary td {
      border: 1px solid ;
      padding: 20px;
      text-align: center;
  }

  .purchase__summary tr:not(:last-child) td {
      border-bottom: none;
  }

  .purchase__button {
      border: none;
      background-color: red;
      color: white;
      margin-top: 30px;
      font-size: 16px;
      padding: 5px;
      width: 100%;
  }

  
      @media screen and (min-width: 768px) and (max-width: 850px) {}