.register__content {
    width: 430px;
    margin: 0 auto;
    padding-top: 40px;
}

.register__title {
    text-align: center;
    margin-bottom: 24px;
}

.register__input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.register__label {
    margin-bottom: 4px;
    font-weight: bold;
}

.register__input {
    height: 30px;
    width: 430px;
    font-size: 17px;
}

.register-form__error-message {
    color: red;
}

.register__input-form__button {
    text-align: center;
    width: 430px;

}

button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.login__link {
    text-align: center;
    padding-top: 20px;
}